header {
    text-align: center;
    background-color: aqua;
    margin-bottom: 0px;
}

.card {
    
    padding: 1%;
    background-color: linen;
} 

aside {
    background-color: lightgreen;
    padding: 1%;
}

label {
    font-size: 24px;
    font-weight: bold;

}

button {
    margin-left: 2%;
}

#inputIssue {
    display: none;
}

#modalTitle {
    text-align: center;

}

#modalBtn {
    margin-top: 1px;
    padding: 1%;
    background-color: blue;
    color: white;
    border: black;
    border-radius: .25rem;
    
}

#map {

    height: 300px;
    width: 100%;   
}

#loaderCirc {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
