header {
    text-align: center;
    background-color: aqua;
}

.card {
    margin-top: 1px;
    padding: 1%;
    background-color: linen;
} 

aside {
    background-color: lightgreen;
    padding: 1%;
}

label {
    font-size: 24px;
    font-weight: bold;

}

button {
    margin-left: 2%;
}

#inputIssue {
    display: none;
}

#modalTitle {
    text-align: center;

}

#modalBtn {
    margin-top: 1px;
    padding: 1%;
    background-color: blue;
    color: white;
    border: black;
    border-radius: .25rem;
    
}

#map {
    /* height: 300px;
    width: 300px; */
    display: none;
}
